body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.margin-auto {
  margin: 0 auto;
}

.height-30 {
  height: 30px;
}

.header-row {
  padding: 10px;
  background-color: #000000;
}

.header-row h1 {
  color: #FFFFFF;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vmin;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}